#float-input{
  Border-left:none;
  border-right:none;
  Border-top:none;
  Border-width:3px;
}
#float-input1{
  Border-left:none;
  border-right:none;
  Border-top:none;
  Border-width:3px;
}
#float-input2{
  Border-left:none;
  border-right:none;
  Border-top:none;
  Border-width:3px;
  Border-color:lightgray;
}
#form{

  width: 350px;
  font-size:16px;
  border:2px solid darkgrey;
  margin-left:35%;
  margin-right: 35%;
  border-top:none;
  border-radius: 10px;
  padding: 3.5%;

}
.text{
  color:darkgray;
  font-size:13px;
}
.txt2{
  color:darkkhaki;
}

