<div id="form">

  <h3 style="padding-left: 35%;color:darkgray"> Signup</h3>

  <span class="ui-float-label">
    <input id="float-input1" type="text" size="30" pInputText>
    <label for="float-input1">name</label>
</span>
  <br>
  <br>
  <span class="ui-float-label">
    <input id="float-input2" type="text" size="30" pKeyFilter="email" pInputText>
    <label for="float-input2">email</label>
</span>
  <br>
  <br>
  <span class="ui-float-label">
    <input id="float-pass" type="password" size="30" pPassword>
    <label for="float-pass">password</label>
</span>
  <br><br>
  <span class="ui-float-label">
    <input id="float-pass2" type="password" size="30" pPassword>
    <label for="float-pass2">confirm password</label>
</span>
  <br>
  <br>
  <p-button label="signup " routerLink="/signin"  style="padding-right: 10%" ></p-button>
  <br>
  <br>
  <br>
  <br>
  <div class="text" >
							Already have an account?

    <a class="txt2" routerLink="/signin">signin

    </a>
  </div>

</div>

